.botones {
    background: #3f3b3b;
    color: white;
    border-radius: 0%;
    font-size: 20px ;
    width: 80px;
    height:80px ;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 50px;
    box-shadow: 5px 5px rgb(80, 74, 74) ;
}
