@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f5pqzu');
  src:  url('fonts/icomoon.eot?f5pqzu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5pqzu') format('truetype'),
    url('fonts/icomoon.woff?f5pqzu') format('woff'),
    url('fonts/icomoon.svg?f5pqzu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:before {
  content: "\e9ca";
}
.icon-brightness-contrast:before {
  content: "\e9d6";
}
.icon-volume-high:before {
  content: "\ea26";
}
