*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

body{
    background: rgb(25,231,14);
    background: linear-gradient(90deg, rgba(25,231,14,1) 0%, rgba(110,189,26,1) 28%, rgba(58,167,61,1) 100%);
}
.form-register{
    width: 450px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,121,107,1) 28%, rgba(77,108,117,1) 100%);
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 25px;
    font-family: calibri;
    color:white;
    box-shadow: 7px 13px 37px #000;
    

}

.form-register h4{
   font-size: 22px;
   margin-bottom: 20px;

}

.controls{
    width: 100%;
    background:#f7f7f7;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #030303;
    font-family: calibri;
    font-size: 18px;
}
.form-register p {
      height: 40px;
      text-align: center;
      font-size: 18px;
      line-height: 40px;
}
.form-register a {
    color: white;
    text-decoration: none;
}
.form-register a:hover{
    color: white;
    text-decoration: underline;
}
.form-register .botons{
    width: 100%;
    background:#353b49;
    border-radius:15px;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 7px 13px 37px #000;

}